.header, .footer {
    background-color: #1f2937;
}

.header {
    padding: 8px;
    display: flex;
}

.header-left {
    display: flex;
    font-weight: bold;
    color: white;

}

.header-links {

}

img {
    width: 50px;
    height: 50px;
}