.header, .footer {
    background-color: #1f2937;
}

.header-container {
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style: none;
}

a:link {
    text-decoration: none;
    color: white;
}

a:link:hover {
    transition-duration: 0.4s;
    color:#3882f6;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    margin: 10%;
    color: white;
}

img {
    padding-right: 10%;
    height: 150px;
    width: 400px;
}
.Signup-button {
    padding: 8px 30px;
    border-radius: 12px;
    border-color: #3882f6;
    background-color: #3882f6;
    color: white;
    transition-duration: 0.4s;
}

.Signup-button:hover {
    border-color: white;
    background-color: white;
    color: #3882f6;
    transition-duration: 0.4s;
}
